<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Branch</title>
        <meta charset="UTF-8">        
        <link th:href="@{/main.css}" type="text/css" rel="stylesheet" />
        <script th:src="@{/jquery-3.4.1.min.js}"></script>               
    </head>
    <body>

        <div th:insert="menu"></div>

        <div class="main">
            <div th:insert="header"></div>

            <form th:action="@{/save-branch}" th:object="${branch}">
                <table border="1" width="90%" align="center" cellpadding="5">     
                    <tr>
                        <td class="fheading" colspan="4">Branch</td>
                    </tr>
     
                    <tr>                       
                        <td>Branch Name</td>
                        <td>
                            <input type="text" th:field="*{branchName}" placeholder="Enter Branch Name" required style="width:98%"/>
                            <input type="hidden" th:field="*{id}" />
                        </td>  
                        <td >Bank Name</td>
                        <td>
                            <!--<input type="text" th:field="*{bankId}" />-->
                            <select th:field="*{bankId}" required style="width:98%">
                                <option th:value="-1">-- Select Bank --</option>
                                <option th:each="i : ${bankList}" th:value="${i.bankId}" th:text="${i.bankName}">
                                </option>
                             </select>
                            <a th:href="@{/bank}" target="_blank">Add Bank</a>
                        </td>
                    </tr>

                    <tr>                       
                        <td colspan="4" align="center">
                            <button>Save</button>
                        </td>                 
                    </tr>
                </table>
            </form>
            <br/>
           <table border="1" width="90%" align="center" cellpadding="5">                         
                <tr>                       
                    <th>SR</th>
                    <th hidden>ID</th>
                    <th>Branch Name</th>
                    <th>Bank</th>
                    <th>ACTION</th>                        
                </tr>
                <tr th:each="c,itr: ${branchList}">
                    <td th:text="${itr.count}">SR</td>
                    <td hidden th:text="${c.id}">ID</td>
                    <td th:text="${c.branchName}">Branch</td>
                    <td th:text="${c.bankName}">Bank</td>
                    <td> <a th:href="@{'/branch-edit/'+${c.id}}">Edit</a> | <a th:href="@{'/branch-delete/'+${c.id}}">Delete</a></td>
                </tr>
            </table>
        </div>
        
             <script src="menu.js"></script>
    </body>
</html>
